body {
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.input {
    height: 55px;
    width: 200px;
    font-size: 50px;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    height: 65px;
    width: 25;
    font-size: 40px;
    border-radius: 10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: background-color 0.3s, transform 0.2s;

}




.button:hover {
    background-color: rgb(255, 146, 226);
    transform: scale(1.1);
}

.button:active {
    transition: transform 0.3s ease-in-out;
    transform: scale(.95);
}